:root {
  --bg-color: #222831;
  --text-color: #eee;
  --text-color-darker: #ccc;
  --other-color: #393e46;
  --intense-color: #b55400;
  --bg-color-transparent: rgba(0, 0, 0, .5);
  --sidebar-width: 15em;
}

html,
body {
  margin: 0;
  font-family: 'Barlow';
}

#editor-container {
  position: fixed;
  top: 0;
  right: var(--sidebar-width);
  left: 0;
  bottom: 0;
}
